asgiref==3.7.2
beautifulsoup4==4.12.2
braintree==4.22.0
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-bootstrap4==23.2
django-environ==0.11.2
idna==3.4
mysqlclient==2.2.0
Pillow==10.0.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
