{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="row gx-3 gx-lg-1 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">
    <div class="col-10">
        <div class="card h-100">
            <div class="card-body p-4">
                <div>
                    <h2>Pagamento com Cartão de Crédito</h2>
                    <form method="post" action="." autocomplete="off">
                        {% csrf_token %}
                        <p>Payments are safely processed with <a href='https://www.braintreepayments.com/'
                                                                 target='_blank'>Braintree</a>.</p>
                        {% if braintree_error %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">&times;</button>
                            {{ braintree_error|safe }}
                        </div>
                        {% endif %}
                        <div class="braintree-notifications"></div>
                        <div id="braintree-dropin"></div>
                        <input class="btn btn-success btn-lg btn-block" type="submit" value="Pay now!"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- inclui o SDK do cliente JS do Braintree -->
<script src="https://js.braintreegateway.com/web/3.44.2/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.44.2/js/hosted-fields.min.js"></script>
<script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');
    braintree.client.create({
        authorization: '{{ braintree_client_token }}' },
        function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(clientErr);
                return;
            }
            braintree.hostedFields.create({
                      client: clientInstance,
                      styles: {
                            'input': {'font-size': '13px'},
                            'input.invalid': {'color': 'red'},
                            'input.valid': {'color': 'green'}
                      },
                      fields: {
                            number: {selector: '#card-number'},
                            cvv: {selector: '#cvv'},
                            expirationDate: {selector: '#expiration-date'}
                      }
                },
                function (hostedFieldsErr, hostedFieldsInstance) {
                    if (hostedFieldsErr) {
                        console.error(hostedFieldsErr);
                        return;
                    }
                submit.removeAttribute('disabled');
                form.addEventListener('submit', function (event) {
                                                    event.preventDefault();
                                                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                                                                                    if (tokenizeErr) {
                                                                                        console.error(tokenizeErr);
                                                                                        return;
                                                                                    }
                                                                                    // define o nonce a ser enviado para o servidor
                                                                                    document.getElementById('nonce').value = payload.nonce;
                                                                                    // submete o formulário
                                                                                    document.getElementById('payment').submit();
                                                    });
                }, false);
            });
    });
</script>
{% endblock %}